* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: url("image/background.png") no-repeat;
    font-family: "Inter" sans-serif;
    background-size: cover;
    background-color: #dce4ec;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
}

a {
    margin: 0;
}

h5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
    color: #4e81b4;
}

.col-11 {
    margin-top: 1rem;
    margin-right: -38.5rem;
}


.scroll {
    border: none;
    background-color: transparent;
    color: #1166ca;
    margin: 2.5rem;
}

.scroll:hover {
    color: #1166ca;
    background-color: #dce4ec;
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cards button {
    margin-left: -8.5rem;
}


.blue-bar {
    width: 100%;
    height: 3.5rem;
    margin-left: -14.5rem;
    background-color: #1166ca;
    border-top-right-radius: 20px;
    margin-bottom: 3rem;
}

.card {

    margin-bottom: 30px;
    font-size: 17px;
    color: #444852;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 1px solid #e8e8f1;
    box-shadow: 1px 1px 10px #0200001c;
    width: 740px;
    background-color: white;
    margin-left: -8rem;
}


.card .titulo {
    text-align: center;
    font-weight: 600;
    color: #4e81b4;
}

.card:hover {
    background-color: #f0f0f0;
    box-shadow: 1px 1px 15px #0200001c;
}

.subscribe-btn {
    background-color: #1166ca;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 10rem;
    align-self: center;

    transition: background-color 0.3s;
}

.subscribe-btn:hover {
    background-color: #0a4b8e;
}

main .right-section {
    padding-right: 30px;
    margin-right: 0.1rem;
    display: flex;
}

.form-image {
    border-radius: 25px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1166ca;
    width: 31rem;
    height: 38rem;
    padding-top: 2rem;
    cursor: pointer;
    margin-right: -7rem;
}

.form-image h2 {
    font-size: 47px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    font-weight: 300;
}



.form-image h3 {
    font-size: 33px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

.form-image img {
    margin-top: 10px;
    width: 400px;
    height: 400px;
}

.causas-container {
    display: flex;

    padding: 2rem;
}

.causas-item {
    overflow: hidden;
    width: 10rem;
    height: 17rem;
    transition: transform 0.3s ease-in-out;
    margin: 0.7rem;
}

.causas-item img {
    width: 100%;
    height: 90%;
    border-radius: 16px;
}

.causas-item:hover {
    transform: scale(1.1);
    /* flex: 2; */
}

.causas-item:hover .causas-overlay {
    display: flex;
}

.causas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(18, 104, 201, 0.8); */
    background-color: rgb(18, 104, 201);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
}

.causas-item .causas-overlay h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.row-causa {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.linguagens-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.linguagens-info h6 {
    font-size: 16px;
    width: 41rem;
    text-align: center;
    color: #ffffff;
    background-color: #4e81b4;
    padding: 10px 20px;
    border-radius: 10px;


}

.linguagens {
    width: 91%;
    height: 10rem;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;

}

.tags {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 2rem;
    text-align: center;
    font-size: 20px;
    align-items: center;
    font-weight: 600;
}

.tags svg {
    width: 90px;
    height: 90px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.como_comecar_ong,
.como_comecar_aluno {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 2rem;
    padding-top: 2rem;

}

.como_comecar_ong h1 {
    color: #1166ca;
    font-weight: 900;
    font-size: 35px;

}

.como_comecar_aluno h1 {
    margin-left: 1rem;
    color: #1166ca;
    font-weight: 900;
    font-size: 35px;

}

.como_comecar_ong li {
    margin-top: 0px;
    color: #000000;
    font-weight: 700;
    list-style-type: none;
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
}

.como_comecar_aluno {
    padding-left: 5rem;
}

.como_comecar_aluno li {
    margin-top: 0px;
    color: #000000;
    font-weight: 700;
    list-style-type: none;
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: -1rem;
}



.como_comecar_ong h4 {

    color: #4e81b4;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.como_comecar_aluno h4 {
    margin-left: 1rem;
    color: #4e81b4;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.como_comecar_ong img {
    float: left;
    margin-right: 150px;
    margin-top: 35px;
    margin-left: 100px;
}

.como_comecar_aluno img {
    float: right;
    margin-right: 100px;
    margin-top: 60px;
}

.form-container {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 600px;
    text-align: center;
}

.input-box {
    text-align: left;
}

input[type="email"],
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-btn {
    background-color: #1166ca;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #0a4b8e;
}

.btn {
    background-color: #fff;
    color: #1166ca;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: #1166ca;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    margin-right: 3rem;

}

.btn-login {
    background-color: #1166ca;
    color: #fff;
    padding: 12px 30px;
    border: none;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-login:hover {
    background-color: #0a4b8e;
    color: #fff;
}

.btn:hover {
    background-color: #0a4b8e;
    color: #fff;
}

.col-1 {
    text-align: center;
}

/* ------------------------------------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    font-size: 18px;
}

.container,
.causas-container,
.half-section,
.linguagens-info,
.final-section-ong,
.final-section-aluno,
.form-container {
    visibility: hidden;
}




@media (max-width: 768px) {

    /* Estilos para dispositivos móveis */
    .container {
        padding: 0;
        margin: 0;
    }

    #title {
        margin-left: 1.5rem;
    }

    #nav-links {
        display: none;
    }

    .blue-bar {
        display: none;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #imagem {
        order: -1;
        display: flex;
    }

    .form-image {
        text-align: center;
        width: 106.4%;
        border-radius: 0px;
        margin-bottom: 3rem;

    }

    .form-image h2 {
        font-size: 40px;
    }

    .form-image h3 {
        font-size: 28px;
    }

    .card {
        border-radius: 0px;
        width: 100%;
        margin: 0;
        margin-left: 9%;
        margin-bottom: 2rem;
    }

    #cards button {
        margin-left: 9.5%;

    }

    #cards {
        margin-left: -2.5%;
    }

    .linguagens-info h6 {
        width: 98%;
        margin-top: -2rem;
        margin-bottom: -2rem;
    }

    #tags svg {
        width: 3rem;
        height: 3rem;
    }

    #tags {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 1.5rem;
    }

    #linguagens {
        height: 13rem;
    }

    .causas-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: -3rem;
    }

    .causas-item:hover .causas-overlay {
        display: flex;
    }

    .causas-item .causas-overlay h3 {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
            sans-serif;
        font-weight: 300;
        font-size: 12px;
    }

    .causas-item {
        height: 5rem;

    }

    .como_comecar_ong img {
        margin: 0;
        float: right;
        width: 6rem;
        height: 6rem;
    }

    .como_comecar_aluno img {
        margin: 0;
        width: 7rem;
        height: rem;
    }

    .como_comecar_aluno h4 {
        font-size: 25px;
        margin-left: -1px;
    }

    .como_comecar_aluno h1 {
        font-size: 20px;
        margin-left: -1px;
    }

    .como_comecar_aluno li {
        margin-left: -1rem;
    }

    .como_comecar_ong h1 {
        font-size: 20px;
    }

    .como_comecar_ong li {
        margin-left: -1rem;
    }

    #aluno-btn {
        margin-left: 1rem;
    }
}

.como_comecar_aluno {
    padding-left: 1.5rem;
}



@media (max-width: 400px) {
    #title img {
        width: 100%;
    }

    #title {
        margin-left: 0;
    }
}